.categorias-item-bar{
	
}

.categorias-item-fix{
   
	margin: auto;
	width: 50%;
     border: 3px solid #7D7D7D;
    padding: 10px;

}
.categorias-item-fix-h2{
	text-align:center;
    padding: 10px;
}

.csv-fix{
    background-image: url("https://i.ytimg.com/vi/rj-A3ZAzgpU/hqdefault.jpg");
	margin: auto;
	width: 50%;
    border: 3px solid #7D7D7D;
    padding: 10px;
}
.csv-fix-h2{
	text-align:center;
    padding: 10px;
}
.csv-fix-bt{

    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45%;
	margin-right: 45%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

form > .form-group {
    margin: 0;
}



/* Estilos para los comentarios 2 */
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

/* Estilos para los comentarios 1 */

.com_btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.com_rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
}
.com_bold{
    font-weight:700;
}
.com_padding-bottom-7{
    padding-bottom:7px;
}

.com_review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
}
.com_review-block-name{
    font-size:12px;
    margin:10px 0;
}
.com_review-block-date{
    font-size:12px;
}
.com_review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.com_review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.com_review-block-description{
    font-size:13px;
}

/*
**************
*** Navbar ***
**************
*/

.form-control {
    border-radius: 0;
}

.navbar-form .form-control {
    margin-left: 2em;
}